<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 text-center">
      <div class="page-header text-center" data-facebook-token="{{ user.facebook.token }}">
        <h1><strong>AuTindr</strong></h1>
        <h3><span class="fa fa-user"></span> {{ user.facebook.name }}</h3>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 page-header text-center">
      <form action="/fuckit" method="POST">
        <button class="btn btn-danger btn-md">Swipe Right</button>
      </form>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 page-header text-center">
      <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
