<!DOCTYPE html>
<html lang="eng">

<head>
  <title>Twitter mini</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <base href="">

</head>

<body>

  <div id="loginModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Header -->
        <div class="modal-header">
          <h2>Register Here</h2>
        </div>

        <!-- Body -->
        <div class="modal-body">
          <form class="form col-md-12">

            <input type="text" class="form-control input-lg" placeholder="Email" required autofocus />
            <br/>

            <input type="password" class="form-control input-lg" placeholder="Password" required />
            <br/>
            <input type="password" class="form-control input-lg" placeholder="Retype Password" required />
            <br/>


            <button class="btn btn-info btn-lg btn-block">Register</button>

            <button class="btn btn-default btn-lg btn-block">Cancel</button>
          </form>
        </div>


      </div>
    </div>
  </div>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</body>

</html>
